.jumbotron {
  color: #ffffff;
  background-image: url(https://goldbondultimate.com/wp-content/uploads/2017/06/new-jumbotron-background.png); }

footer {
  color: white;
  background-image: url(https://goldbondultimate.com/wp-content/uploads/2017/06/new-jumbotron-background.png);
  padding: 10px 10px 10px 20px; }

.footer-address-icon {
  padding-right: 10px; }

.texto-producto {
  color: #060061f3;
  text-align: justify; }

.tab-content {
  padding-top: 10px; }

.btn-comprar {
  width: 100%;
  margin-bottom: 10px; }

.img-tarjeta {
  padding-top: 10px;
  width: 200px;
  height: 200px; }

.card-footer {
  padding: 0; }

.text-muted {
  padding-top: 5px; }

.modal-body {
  color: white;
  background-image: url(https://goldbondultimate.com/wp-content/uploads/2017/06/new-jumbotron-background.png); }

.navbar {
  background-image: url(https://img3.goodfon.com/original/1920x1080/8/b9/minimalizm-gradient-background-3620.jpg); }

.enlace-footer {
  color: white; }

.div-centrado {
  display: flex;
  align-items: center;
  justify-content: center; }
