
@Blanco:#a7850df3;
@Azul:#120ef8f3;
@Img-Fondo:url(https://goldbondultimate.com/wp-content/uploads/2017/06/new-jumbotron-background.png);
 


.alargar(@width, @margin) {
    width: @width;
    margin-bottom: @margin;
    
}

.jumbotron {
    color:@Blanco;
    background-image: @Img-Fondo; }
  
  footer {
    color: @Blanco;
    background-image: @Img-Fondo;
    padding: 10px 10px 10px 20px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .texto-producto {
    color:@Azul;
    text-align: justify; }
  
  .tab-content {
    padding-top: 10px; }
  
  .btn-comprar {
    .alargar(100%,10px);}
  
  .img-tarjeta {
    padding-top: 10px;
    width: 200px;
    height: 200px; }
  
  .card-footer {
    padding: 0; }
  
  .text-muted {
    padding-top: 5px; }
  
  .modal-body {
    color:@Blanco;
    background-image: url(https://goldbondultimate.com/wp-content/uploads/2017/06/new-jumbotron-background.png); }
  
  .navbar {
    background-image: url(https://img3.goodfon.com/original/1920x1080/8/b9/minimalizm-gradient-background-3620.jpg); }
  
  .enlace-footer {
    color: @Blanco; }
  
  .div-centrado {
    display: flex;
    align-items: center;
    justify-content: center; }
  